#footer {
    text-align: center;
    font-size: 0.8em;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    border-top: thin solid #BBBBBB;
    clear: both;
    color: black  ;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
input[type=textarea]{
  width: 100%;

}
input[type=text]:focus {
  border: 3px solid #555;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.newsitem a{
            text-decoration:none;
            font-size: 15px;
        }

.newsitem a:hover{

            font-weight: bold;
        }
.right_side_rectangle a:hover{
  text-decoration: none;
  color: green;
  font-size: 30px;

}
.right_side_rectangle2 a:hover{
  text-decoration: none;
  color:green;
  font-size: 30px;
}

.right_side_rectangle2 {
position: absolute;
right: 50px;
width: 200px;
height: 120px;
border: 3px ;
font-size: 20px;
}
.right_side_rectangle {
position: absolute;
right: 250px;
width: 200px;
height: 120px;
border: 3px ;
font-size: 20px;

}
.text-seconday-num_answers{
font-size: 12px;
font-style: italic;
color: black;
}
h2{
  color:maroon;
}
.bg_image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height:500px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 30%;
  left: 25%;
  color: #ffb117;
  font-size: 250%;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}
/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 40px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

/* Links on mouse-over */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link */
#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

/* Display some links to the right */
#navbar-right {
  float: right;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
