{% extends "base.html" %}
{% block title %}
Forget password
{% endblock %}
{% block content %}
<div class="container">
  <h2>Password Reset</h2>
  <p>Forgotten your password? Enter your Email address below ,and we'll send you an e-mail allowimg you to reset it.</p>
  <form  method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>Email :  {{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>
  </div>
{% endblock %}
